/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/settings.json
/storage/debugbar
/vendor
.env
.env.ba*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache