.navbar-badge {
    right: 5px;
    top: 5px;
}
.navbar-expand .navbar-nav .nav-link {
    padding: .5rem 1rem;
}
.user-dropdown {

    .nav-link {
        padding: 0 1rem !important;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .user-dropdown-menu {

    }
}
