.login-content .login-box {
    min-height: 400px;
}
.app-sidebar__user-avatar {
    width: 48px;
    height: 48px;
}
.img-size-32 {
    width: 32px;
}
.img-circle {
    border-radius: 50%;
}
.index-flag {
    position: relative;
    top: 10px;
    left: 15px;
}
