// Icons
@import "../icons";
// Bootstrap

@import "~admin-lte/dist/css/adminlte.min.css";

@import "~daterangepicker/daterangepicker.css";
@import "~bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css";
@import "../editor";
@import '~tailwind-color-palette/scss/tailwind-color-palette';
@import "../icheck";
@import "../select2";
@import "./custom";
@import "../fonts";
@import "../tagsinput.css";
@import "../datepicker";
